
:root{
--pale-blue: 225, 100%, 94%;
--pale-blue-hsl: hsl(var(--pale-blue));
--bright-blue: 245, 75%, 52%;
--bright-blue-hsl: hsl(var(--bright-blue));
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: 224, 23%, 55%;
--desaturated-blue-hsl: hsl(var(--desaturated-blue));
--dark-blue: hsl(223, 47%, 23%);
}