@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
//Family
--font-family: 'Red Hat Display', sans-serif;

//Weights
--font-ws: 500;
--font-wm: 700;
--font-wl: 900;

//Sizes
--font-md: 1rem;
}